<h1>Editing city</h1>

<%= render "form", city: @city %>

<br>

<div>
  <%= link_to "Show this city", @city,  class:"btn btn-secondary", style:"background-color:#2F4F4F" %> |
  <%= link_to "Back to cities", cities_path, class:"btn btn-secondary" %>
</div>
