<div id="<%= dom_id state %>">
  <tr>
    <td> <%= state.name %></td>
    <td><%= link_to 'Show', state, class:"btn btn-secondary btn-sm" %></td>
      <td><%= link_to 'Edit', edit_state_path(state),class:"btn btn-secondary btn-sm" %></td>
  </tr>

</div>
