<br/>
<h1 class="display-4">New state</h1>

<%= render "form", state: @state %>

<br>

<div>
  <%= link_to "Back to states", states_path , class:"btn btn-secondary", style:"background-color:#2F4F4F"%>
</div>
